<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	 version="4.0">
    
    <display-name>Jello</display-name>
    
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>    
    
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <error-page>
        <exception-type>javax.faces.application.ViewExpiredException</exception-type>
        <location>/</location>
    </error-page>

    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <!--<param-value>Production</param-value>-->
        <param-value>Development</param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>admin</param-value>
    </context-param>

    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>

    <servlet>
        <servlet-name>FacesServlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>FacesServlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>

    <data-source>
        <name>java:jboss/datasources/JelloDS</name>
        <class-name>org.h2.jdbcx.JdbcDataSource</class-name>
        <url>jdbc:h2:mem:jello-database;DB_CLOSE_DELAY=-1</url>
        <user>sa</user>
        <password>""</password>
        <transactional>true</transactional>
    </data-source>
    
    <env-entry>
        <env-entry-name>java:global/jcacheConfigFile</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>hazelcast.xml</env-entry-value>
    </env-entry>
    
    <env-entry>
        <env-entry-name>java:global/supportedLanguages</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>en,af,hi</env-entry-value>
    </env-entry>
    
    <env-entry>
        <env-entry-name>java:global/supportedThemes</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>admin,nova-light,nova-dark,nova-colored,luna-blue,luna-amber,luna-green,luna-pink,omega</env-entry-value>
    </env-entry>
    
    <security-constraint>
        <!-- For the REST Endpoints -->
        <web-resource-collection>
            <web-resource-name>All Jax-rs resources</web-resource-name>
            <url-pattern>/api/*</url-pattern>
        </web-resource-collection>
        <!-- For the SOAP Endpoint -->
        <web-resource-collection>
            <web-resource-name>All Jax-ws resources</web-resource-name>
            <url-pattern>/CardSoapApi</url-pattern>
        </web-resource-collection>
        <!-- JSF Admin Web GUI -->
        <web-resource-collection>
            <web-resource-name>JSF Screen</web-resource-name>
            <url-pattern>/board.xhtml</url-pattern>
        </web-resource-collection>
<!--        <auth-constraint>
            <role-name>user</role-name>
            <role-name>admin</role-name>
        </auth-constraint>-->
        <user-data-constraint>
            <transport-guarantee>NONE</transport-guarantee>
        </user-data-constraint>
    </security-constraint>    
      
<!--    <security-role>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <role-name>admin</role-name>
    </security-role>-->
</web-app>
