<?xml version="1.0" encoding="UTF-8"?>
<server description="activemq test server">
 
    <!-- Enable features -->
    <featureManager>
        <feature>javaee-8.0</feature>
        <feature>jmsMdb-3.2</feature> <!-- ? -->
        <feature>localConnector-1.0</feature> <!-- ? -->
    </featureManager>
 
    <httpEndpoint id="defaultHttpEndpoint"
        httpPort="${httpPort}"
        httpsPort="${httpsPort}"/>
 
    <applicationManager autoExpand="true" />

    <keyStore id="defaultKeyStore" password="0p3nL1b3ry"/>
    
    <basicRegistry id="basic" realm="ibm/api">
        <user name="guest" password="0p3nL1b3ry" />
    </basicRegistry> 
    
<!--    <resourceAdapter id="activemq" location="${activeMQRar}">
        <properties.activemq serverUrl="tcp://localhost:35489"/>
    </resourceAdapter>
 
    <jmsActivationSpec id="ROOT/cardQueueMDB">
        <properties.activemq destinationRef="jndi/cardQueueMDB" destinationType="javax.jms.Queue"/>
    </jmsActivationSpec>

    <jmsQueueConnectionFactory jndiName="jndi_JMS_BASE_QCF">
        <properties.activemq serverUrl="tcp://localhost:35489"/>
    </jmsQueueConnectionFactory>

    <jmsQueue jndiName="cardQueueMDB">
        <properties.activemq PhysicalName="cardQueueMDB"/>
    </jmsQueue>-->
<!--    <jmsQueue id="jndi/MDBREPLYQ" jndiName="jndi/MDBREPLYQ">
        <properties.activemq PhysicalName="MDBREPLYQ"/>
    </jmsQueue>

    <jmsQueue id="jndi/MDBQ" jndiName="jndi/MDBQ">
        <properties.activemq PhysicalName="MDBQ"/>
    </jmsQueue>-->
 
    <application location="${app}"/>
 
 </server>